<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body class="container">
    <h1>{{title}}</h1>
    <div class="text-right" style="margin-bottom: 1em;">
        {{^user}}
        <a id="login" href="/login" class="btn btn-primary">
            Sign in
        </a>
        <a id="register" href="/signup" class="btn btn-primary">
            Register
        </a>
        {{/user}}
        {{#user}}
        <a id="logout" href="/logout" class="btn btn-primary">
            Sign out
        </a>
        {{/user}}
    </div>
    <div class="text-right">
        <a href='/newblog'>
            <button type="button" class="btn btn-primary">添加新留言</button>
        </a>
    </div>

    <!-- list-->
    {{#blogs}}
    <div class="card">
        <div class="card-header">{{topic}}</div>
        <div class="card-body">
            <div class="card-text">{{message}}</div>
            <div class="card-text"> <a href="/user/{{user}}">{{user}}</a>评论 , 评论时间： {{time}} </div>
            {{#isAuthor}}
            <a href="/editblog/{{_id}}" class="btn btn-warning">编辑</a>
            <form method="post" action="/deleteblog/{{_id}}" style="display:inline;">
                <input type="submit" value="删除" class="btn btn-danger">
            </form>
            {{/isAuthor}}
        </div>
    </div>
    {{/blogs}}
    {{^blogs}}
    没有查询到留言
    {{/blogs}}


</body>

</html>